<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>267342947195-t04d8ehmt42c6226e6qll0npald9jgf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.267342947195-t04d8ehmt42c6226e6qll0npald9jgf6</string>
	<key>API_KEY</key>
	<string>AIzaSyBByZxHc_MGMTon_ZKyTZ_QMsZ0gnvBfSE</string>
	<key>GCM_SENDER_ID</key>
	<string>267342947195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.widgetsApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-projects-fab94</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-projects-fab94.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:267342947195:ios:9d0c1ab4bd4bd367c8d3de</string>
</dict>
</plist>